<launch>

	<include file="$(find cnbiros_robotino)/launch/ros_robotino.launch" >
		<arg name="address" value="192.168.1.3" />
	</include>

	<group ns="bci">
		<include file="$(find cnbiros_bci)/launch/rostid.launch" >
			<arg name="tid_pipes" value="[/bus, /dev]" />
		</include>
		
		<include file="$(find cnbiros_bci)/launch/rostic.launch" >
			<arg name="tic_pipes2ros" value="[/ctrl1]" />
		</include>
	</group>

	<group ns="telepresence">
		<remap from="/telepresence/bcicontrol/tic/cnbi2ros/" to="/bci/tic/cnbi2ros" />
		<remap from="/telepresence/bcicontrol/tid/cnbi2ros/" to="/bci/tid/cnbi2ros" />
		
		<remap from="/telepresence/fusion/attractors" to="/telepresence/attractors" />
		<remap from="/telepresence/fusion/repellors" to="/telepresence/repellors" />
		<remap from="/telepresence/forcefield/attractors" to="/telepresence/attractors" />
		<remap from="/telepresence/forcefield/repellors" to="/telepresence/repellors" />
		<remap from="/telepresence/forcefield/odometry" to="/robotino/odometry" />
		<remap from="/telepresence/forcefield/cmdvel" to="/robotino/cmd_vel" />

		<node name="fusion" pkg="cnbiros_telepresence" type="ros_fusion_robotino" output="screen" />
		<node name="bcicontrol" pkg="cnbiros_telepresence" type="ros_bcicontrol_robotino" output="screen" />
		<node name="forcefield" pkg="cnbiros_telepresence" type="ros_forcefield_robotino" output="screen" />
	</group>
</launch>

